{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p style="text-align: justify;">
          Hey there! I’m just a curious human trying to make sense of the chaos
          one blog post, random thought, and caffeine-fueled idea at a time. 
          I find inspiration in strange places: a weird dream, an overheard conversation, a bug in my code, 
          or a meme that hits a little too hard. This blog is my creative sandbox where deep thoughts, light rants, 
          and the occasional “what even is life?” moment come to hang out.
        </p>
        <p style="text-align: justify;">
          I don’t have it all figured out (who does?), but I believe in connecting dots, 
          chasing curiosity, and sharing what I learn or at least laugh about. 
          If you enjoy honest thoughts, strange connections, or just want to scroll through 
          someone else’s brain on a digital page, you’re in the right place. Let’s get connected 
          drop a comment, share a thought, or just say hi. I promise I don’t bite… unless you mess with my caffeine!
        </p>
       
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
